<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.huma.loginwithhuma">


    <queries>
        <!-- Explicit apps you know in advance about: -->
        <package android:name="ir.huma.humastore"/>
    </queries>


    <application></application>
</manifest>