<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.huma.loginwithhuma">

    <uses-permission android:name="tech.done.permission.LOGIN_WITH_DONE" />

    <queries>
        <package android:name="ir.huma.humastore" />
        <package android:name="ir.huma.android.launcher" />
    </queries>
</manifest>